node_modules/
.next/
.env
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
node_modules


# Node modules
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS files
.DS_Store